@args int totalPage, int currentPage, String actionUrl, String urlParas

@if (totalPage <= 0 || currentPage > totalPage) {
    @return
}

@{
    int startPage = currentPage - 4;
    if (startPage < 1) {
        startPage = 1;
    }
    int endPage = currentPage + 4;
    if (endPage > totalPage) {
        endPage = totalPage;
    }
    
    if (currentPage <= 8) {
        startPage = 1;
    }

 	if(totalPage - currentPage < 8){
 		endPage = totalPage;
 	}
}

@def String _url(Integer pageId) {
    return actionUrl + pageId + urlParas;
}

<div class="pagination">
    <ul>
    @if(currentPage == 1){
        <li><span>上页</span></li>
    } else {
        <li><a href="@_url(currentPage - 1)">上页</a></li>
    }

    @if(currentPage > 8) {
        <li><a href="@_url(1)">1</a></li>
        <li><a href="@_url(2)">2</a></li>
        <li><span>...</span></li>
    }

    @for (int index = startPage; index <= endPage; ++index) {
        @if(currentPage == index){
            <li><span>@index</span></li>
        } else {
            <li><a href="@_url(index)">@index</a></li>
        }
    }

    @if ((totalPage - currentPage) >= 8) {
        <li><span>…</span></li>
        <li><a href="@_url(totalPage - 1)">@(totalPage - 1)</a></li>
        <li><a href="@_url(totalPage)">@totalPage</a></li>
    }

    @if (currentPage == totalPage) {
        <li><span>下页</span></li>
    } else {
        <li><a href="@_url(currentPage + 1)" rel="next">下页</a></li>
    }
    </ul>
</div>
