.-border{ border: 1px solid #eee; }
.-header>p{ margin: 20px 120px; }
.-content{ padding: 10px 20px; text-indent: 2em; border-bottom: 2px solid gray; }
.-module-list{ width: 600px; float: left; }
.-module-form{ display: inline-block; margin-left: 60px; }