::selection{ background: #FA8072; color: #000000; }
/* 对已经存在的bootstrap css属性进行覆盖 */
.container{ margin-top: 55px; width: 940px; border-bottom: 2px solid gray; }
/* 通用的css属性 */
.-main-border{ border: 1px solid #ddd; border-radius: 15px; margin-bottom: 15px; }
.-clear{ clear: both; }
.-label{ height: 30px; line-height: 30px; margin-left: 0; }
.-inline-block{ display: inline-block }
.-border{ border-radius: 10px; border: 2px solid #eee; }
/* 自定义的css属性 */
/* ====================== navBar ====================== */
.-navbar{ position: fixed; z-index: 1; margin: 0 auto; background-color: #50b7dc; color: #ffffff; top: 0; height: 45px; left: 0; right: 0; }
.-navbar-inner{ width: 940px; margin: 0 auto; }
.-nav{ margin: 0; }
.-nav a{ color: #ffffff; }
.-nav a:hover{ text-decoration: none; }
.-nav>li{ display: inline-block; list-style: none; font-size: 18px; }
.-nav a:hover{ font-weight: bold; background-color: #2aa4cf; }
.-nav a{ font-weight: bold; padding: 0 20px; line-height: 45px; display: block;}
/* ====================== main ====================== */
.-main{ margin: 0; width: 650px; min-height: 300px; }
/* topic */
.-topic{ width: 640px; height: 60px; margin: 12px 5px; }
.-topic-left{ height: 60px; width: 60px; }
.-user-img{ height: 100%; width: 100%; background-image: url("/img/head.jpg") }
.-topic-main{ height: 60px; width: 500px; }
.-topic-main a{ margin: 8px 18px; line-height: 30px; font-size: 18px; }
.-topic-right{ height: 60px; width: 60px; text-align: center }
/* post */
.-post-header{ background: url(/img/bg_postdate.png) no-repeat; height: 48px; position: relative; top: 20px; left: -80px; width: 80px; color: #fff; text-align: right; margin-bottom: 0; }
.-post-header-date{ font-size: 11px; }
.-post-main{ position: relative; top: -30px; padding: 15px 36px 0 36px; }
.-post-main p{ text-indent: 2em; line-height: 1.8em; font-size: 16px; }
.-post-reply-form form{ padding-left: 50px; display: none; }
.-edit-post-btn{ margin-left: 20px; display: inline-block; width: 55px; }
.-reply-success-info{ margin-left: 120px; display: inline-block; width: 130px; }
.-show-reply-form-btn{ margin-left: 230px; }
.-reply-submit{ margin-left: 46px; }
.-post-footer{ background: #f7f7f7; border-top: 1px solid #eee; padding: 10px 40px 10px 40px; border-radius: 0 0 15px 15px; font-size: 12px; }
.-reply-info i{ margin-right: 10px; }
.-reply-info span{ margin-right: 30px; }
.-reply-content{ text-indent: 2em; border-bottom: 1px solid rgb(133, 197, 230); }
.-reply-paginate{ margin-left: 400px; }
/* ====================== sidebar ====================== */
.-sidebar{ margin: 0 0 0 15px; width: 270px; }



/*Random Color*/
._random_border_1{border-color:rgba(206, 102, 206, 0.5)}._random_border_2{border-color:rgba(206, 102, 119, 0.5)}._random_border_3{border-color:rgba(102, 181, 206, 0.5)}
._random_border_4{border-color:rgba(247, 181, 138, 0.5)}._random_border_5{border-color:rgba(219, 204, 121, 0.5)}._random_border_6{border-color:rgba(102, 156, 206, 0.5)}
._random_border_7{border-color:rgba(198, 206, 102, 0.5)}._random_border_8{border-color:rgba(148, 206, 102, 0.5)}._random_border_9{border-color:rgba(102, 123, 206, 0.5)}
._random_border_10{border-color:rgba(102, 206, 102, 0.5)}._random_border_11{border-color:rgba(102, 206, 185, 0.5)}._random_border_0{border-color:rgba(139, 102, 206, 0.5)}